<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        <p><input type="text" placeholder="Username" name="user"></p>
        <p><input type="password" placeholder="Password" name="pwd"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <div>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
    </div>
</body>
</html>